<%- include("../includes/head.ejs")%>
    <link rel="stylesheet" href="/css/main.css">
    <title>
        <%= pageTitle %>
    </title>
    <style>

    </style>
    </head>

    <body>
        <%- include("../includes/navigation.ejs")%>
            <h1>
                <%= pageTitle %>
            </h1>
            <%- include("../includes/end.ejs")%>